@import '../../theme.css';

.cart-container {
  display: grid;
  place-items: center;
  height: 100vh;
}

.cart__card {
  display: flex;
  flex-direction: column;
  background-color: #ededed;
  max-height: 80vh;
  width: 50vw;
  margin-top: -90px;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
  text-align: center;
  align-items: center;
  overflow: auto;
}

.cart__card__content {
  width: 100%;
}

.cart__card__content__foodList {
  display: flex;
  flex-direction: column;
}

.cart__card__price {
  display: flex;
  flex-direction: row;
}
.cart__card__price__total {
  font-weight: bold;
  margin-right: 20px;
}

.cart__card__bottom {
  margin-top: 50px;
  margin-bottom: 20px;
}

.cart__card__bottom > button {
  background-color: #33cc33;
  width: 20vw;
  height: 30px;
  border: none;
  color: white;
  cursor: pointer;
  transition: transform 1s;
}

.cart__card__bottom > button:hover {
  transform: scale(1.2);
}

.cart__card__bottom > a {
  text-decoration: underline;
  cursor: pointer;
}

.cart__card__bottom > a:hover {
  color: var(--primary-color);
}
