@import '../../theme.css';

.footer-container {
  position: absolute;
  height: 100px;
  width: 100%;
  background: var(--primary-color);
  background: linear-gradient(
    180deg,
    var(--primary-color) 0%,
    var(--gradient-color) 35%,
    var(--primary-color) 100%
  );
  -webkit-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
  box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
}

.footer__content {
  color: var(--secondary-color);
  justify-content: center;
  text-align: center;
  align-items: center;
}

.footer__content__icon {
  font-size: 1.5rem;
  margin: 0 10px;
  color: var(--secondary-color);
  transition: transform 1s;
}

.footer__content__icon:hover {
  transform: scale(1.2);
}
