@import '../../theme.css';

.footer-container {
  position: absolute;
  height: 100px;
  width: 100%;
  background: rgb(22, 55, 107);
  background: linear-gradient(
    180deg,
    rgba(22, 55, 107, 1) 0%,
    rgba(42, 7, 58, 1) 35%,
    rgba(22, 55, 107, 1) 100%
  );
}

.footer__content {
  color: var(--secondary-color);
  justify-content: center;
  text-align: center;
  align-items: center;
}

.footer__content__icon {
  font-size: 1.5rem;
  margin: 0 10px;
  color: var(--secondary-color);
  transition: transform 1s;
}

.footer__content__icon:hover {
  transform: scale(1.2);
}
